* {
  transition: all 0.1s ease-in;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #3399cc;
  border: 15px ridge #1a709b;
  font-family: "Montserrat", sans-serif;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
}
.forecast {
  color: #ffffff;
  line-height: 33px;
  font-weight: 600;
  font-size: 24px;
  margin: 40px 852px 25px 245px;
}
.content {
  width: 950px;
  height: 658px;
  margin: 35px 245px 125px 245px;
}
.weather {
  width: 100%;
  height: auto;

  list-style: none;
  font-size: 0;
  line-height: 0;

  border: 3px solid #ffffff;
  background-color: white;
}
li {
  display: inline-block;
  text-align: center;

  color: #ffffff;

  font-size: 20px;
  line-height: 33px;
  font-weight: 600;
  width: 25%;
  height: 157px;
  border: 3px solid #ffffff;
}
.lisbon {
  background-color: #3399cc;
  width: 50%;
}
.paris {
  background-color: #33cccc;
}
.belgrade {
  background-color: #996699;
}
.moscow {
  background-color: #c24747;
}
.telaviv {
  background-color: #e2674a;
}
.cair {
  background-color: #ffcc66;
}
.newyork {
  background-color: #99cc99;
}
.newdelhi {
  background-color: #669999;
}
.francosco {
  background-color: #cc6699;
  width: 50%;
}
.tokyo {
  background-color: #339966;
}
.sydney {
  background-color: #666699;
  width: 100%;
}
li:hover {
  border: 5px solid rgb(247, 218, 218);
}
.last {
  color: #ffffff;
  line-height: 25px;
  font-weight: 600;
  font-size: 18px;
  height: 25px;
  margin: 100px 500px 40px 245px;
}
